PyYAML==5.4.1
pymongo==3.7.2
numpy==1.19.1
pandas==1.1.0
scikit-learn==0.23.2
vowpalwabbit
hyperopt
deap
update_checker
tqdm
stopit
scikit-mdr
skrebate
tpot
sklearn-deap
yellowbrick
spacy
gplearn
kmapper
skope-rules
shap
lime 
mplleaflet
gpxpy
arrow
sexmachine
Geohash
haversine
toolz
cytoolz
sacred
plotly
git+https://github.com/nicta/dora.git
git+https://github.com/hyperopt/hyperopt.git
git+https://github.com/tflearn/tflearn.git
fitter
langid
delorean
trueskill
heamy
vida
missingno
pandas-profiling
s2sphere